body{
    margin: 0;
    color: white;
    background-color: black;
    width: 100%;
}

body:before{
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../backgrounds/background3.jpg');
    background-position: center center;
    background-repeat: no-repeat ;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(14px);
    filter: blur(14px);
    animation: background-load-animation  500ms ease-in;
}

#page-container{
    position: relative;
    min-height:100vh;
}

.content-load{
    padding-bottom: 5em;
    animation: content-load-animation 100ms ease-in 50ms;
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}

.content-page-default{
    animation: content-load-animation 100ms ease-in ;
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}

.footer{
    float: right;
    margin-top: -29px;
}

#bottom{
    position: absolute;
    bottom: 0;
    width: 90%;
}

@keyframes content-load-animation {
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes background-load-animation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


